<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <table th:object="${blog}">
        <tr>
            <td>ID:</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Blog Name:</td>
            <td th:text="*{nameBlog}"></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td th:text="*{title}"></td>
        </tr>
        <tr>
            <td>Content</td>
            <td th:text="*{content}"></td>
        </tr>

    </table>
    <a th:text="|Back to list|" th:href="@{/list}"></a>
</table>
</body>
</html>