<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, th, td{
        border:1px solid black;
    }
    table{
        border-collapse:collapse;
    }
</style>
<body>
<h1>Show list</h1>
<h3><a th:href="@{/create}">Create</a></h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name Blog</th>
        <th>Title</th>
        <th>Content</th>
        <th>Action</th>
    </tr>
    <tr th:each="b :${blog}" th:object="${b}">
        <td th:text="*{id}"></td>
        <td th:text="*{nameBlog}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{content}"></td>
        <td>
            <a th:href="@{/detail/{id}(id=*{id})}">Detail</a>
            <a th:href="@{/delete/{id}(id=*{id})}">Delete</a>
            <a th:href="@{/update/{id}(id=*{id})}">Update</a>
        </td>
    </tr>
</table>
</body>
</html>