<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Music</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Show List</h1>
<h3><a th:href="@{/create}">Create</a></h3>
    <table>
        <tr>
        <td>ID</td>
        <td>Tên Bài Hát</td>
        <td>Nghệ Sỹ Thể Hiện</td>
        <td>Thể Loại Nhạc</td>
        <td>Đường dẫn tới bài hát</td>
        <td>Action</td>
        </tr>

        <tr th:each="m: ${listMusic}" th:object="${m}">
            <td th:text="*{id}"></td>
            <td th:text="*{tenBaiHat}"></td>
            <td th:text="*{ngheSiTheHien}"></td>
            <td th:text="*{theLoaiNhac}"></td>
            <td>
                <audio controls>
                    <source th:src="'horse.ogg' + *{duongDanFileBaiHat} " type="audio/ogg">
                    <source th:src="'horse.mp3' + *{duongDanFileBaiHat}" type="audio/mpeg">
                </audio>
            </td>
            <td>
                <button><a th:href="@{/update/{id}(id=*{id})}">Update</a></button>
                <button><a th:href="@{/delete/{id}(id=*{id})}">Delete</a></button>
            </td>
        </tr>
    </table>

</body>
</html>